In [1]:
import pandas as pd
import datetime as dt  #it's python built in module

### Review of python's datetime module

In [2]:
someday = dt.date(2018,6,24)

In [3]:
someday

datetime.date(2018, 6, 24)

In [4]:
someday.day

24

In [5]:
someday.month

6

In [6]:
someday.year

2018

In [7]:
type(someday)

datetime.date

In [8]:
sometime = dt.datetime(2016,6,24,10,20,50)

In [9]:
str(sometime)

'2016-06-24 10:20:50'

In [10]:
sometime.year

2016

In [11]:
sometime.month

6

In [12]:
sometime.day

24

In [13]:
sometime.hour

10

In [14]:
sometime.minute

20

In [15]:
sometime.second

50

In [16]:
type(sometime)

datetime.datetime

In [17]:
sometime

datetime.datetime(2016, 6, 24, 10, 20, 50)

In [18]:
sometime = dt.datetime(2016,6,24)

In [19]:
sometime

datetime.datetime(2016, 6, 24, 0, 0)

In [20]:
someday = dt.date(2018,6,24)
str(someday)

'2018-06-24'

### The pandas Timestamp object

In [21]:
pd.Timestamp("2018-06-11")

Timestamp('2018-06-11 00:00:00')

In [22]:
pd.Timestamp("2018/06/11")

Timestamp('2018-06-11 00:00:00')

In [23]:
pd.Timestamp("11-22-2018")

Timestamp('2018-11-22 00:00:00')

In [24]:
pd.Timestamp("6-02-2011")

Timestamp('2011-06-02 00:00:00')

In [25]:
pd.Timestamp("3/4/2000")

Timestamp('2000-03-04 00:00:00')

In [26]:
pd.Timestamp("24/12/2018")

Timestamp('2018-12-24 00:00:00')

In [27]:
pd.Timestamp("12/24/2018")

Timestamp('2018-12-24 00:00:00')

In [28]:
pd.Timestamp("24/12/2018 04:05:12")

Timestamp('2018-12-24 04:05:12')

In [29]:
pd.Timestamp("24/12/2018 14:25:59")

Timestamp('2018-12-24 14:25:59')

### The panda DateTimeIndex Object

In [34]:
dates = ["2018-06-24" , "2018-06-25", "2018-06-26"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2018-06-24', '2018-06-25', '2018-06-26'], dtype='datetime64[ns]', freq=None)

In [36]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [37]:
dates = [dt.date(2018,1,10),dt.date(2000,7,12),dt.date(2012,2,5)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2018-01-10', '2000-07-12', '2012-02-05'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.Series(data = [1,2,3],index = pd.DatetimeIndex(dates))
#using DatetimeIndex as index of a list

2018-01-10    1
2000-07-12    2
2012-02-05    3
dtype: int64

### The pd.to_datetime() Method

In [41]:
pd.to_datetime("2018-02-12")

Timestamp('2018-02-12 00:00:00')

In [43]:
pd.to_datetime(dt.date(2018,12,2))

Timestamp('2018-12-02 00:00:00')

In [44]:
pd.to_datetime(dt.datetime(2018,1,11,10,15,20))

Timestamp('2018-01-11 10:15:20')

In [51]:
pd.to_datetime("2018/2/2")

Timestamp('2018-02-02 00:00:00')

In [54]:
pd.to_datetime(["2018-12-13","2018-3-4","July 4th, 2010"])

DatetimeIndex(['2018-12-13', '2018-03-04', '2010-07-04'], dtype='datetime64[ns]', freq=None)

In [55]:
times = pd.Series(["2018-12-13","2018-3-4","July 4th, 2010"])
times

0        2018-12-13
1          2018-3-4
2    July 4th, 2010
dtype: object

In [59]:
pd.to_datetime(times)
# object to datetime conversion

0   2018-12-13
1   2018-03-04
2   2010-07-04
dtype: datetime64[ns]

In [67]:
times = pd.Series(["2018-12-13","hello","July 4th, 2010"])

In [68]:
times

0        2018-12-13
1             hello
2    July 4th, 2010
dtype: object

In [69]:
#pd.to_datetime(times) return errors
# because errors = raise

In [70]:
pd.to_datetime(times,errors = "coerce")
# returns Nat when error occurs

0   2018-12-13
1          NaT
2   2010-07-04
dtype: datetime64[ns]

In [71]:
pd.to_datetime(1356835678)

Timestamp('1970-01-01 00:00:01.356835678')

In [72]:
pd.to_datetime(1356835678,unit = "s")

Timestamp('2012-12-30 02:47:58')

In [76]:
pd.to_datetime([1356835678,1526835678],unit = "s")

DatetimeIndex(['2012-12-30 02:47:58', '2018-05-20 17:01:18'], dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the pd.date_range() method , Part 1

In [80]:
times = pd.date_range(start = "2018-06-01", end = "2018-06-10")
times
# by default  freq = "D"

DatetimeIndex(['2018-06-01', '2018-06-02', '2018-06-03', '2018-06-04',
               '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08',
               '2018-06-09', '2018-06-10'],
              dtype='datetime64[ns]', freq='D')

In [81]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [82]:
times[0]

Timestamp('2018-06-01 00:00:00', freq='D')

In [83]:
 pd.date_range(start = "2018-06-01", end = "2018-06-10" , freq = "2D")

DatetimeIndex(['2018-06-01', '2018-06-03', '2018-06-05', '2018-06-07',
               '2018-06-09'],
              dtype='datetime64[ns]', freq='2D')

In [86]:
 pd.date_range(start = "2018-06-01", end = "2018-06-10" , freq = "B")
    # only business days --> excludes saturday and sunday

DatetimeIndex(['2018-06-01', '2018-06-04', '2018-06-05', '2018-06-06',
               '2018-06-07', '2018-06-08'],
              dtype='datetime64[ns]', freq='B')

In [88]:
 pd.date_range(start = "2018-06-01", end = "2018-06-15", freq = "W")
    #includes only sundays

DatetimeIndex(['2018-06-03', '2018-06-10'], dtype='datetime64[ns]', freq='W-SUN')

In [91]:
pd.date_range(start = "2018-06-01", end = "2018-06-15", freq = "W-FRI")
# includes only friday

DatetimeIndex(['2018-06-01', '2018-06-08', '2018-06-15'], dtype='datetime64[ns]', freq='W-FRI')

In [92]:
pd.date_range(start = "2018-06-01", end = "2018-06-15", freq = "H")
# hours

DatetimeIndex(['2018-06-01 00:00:00', '2018-06-01 01:00:00',
               '2018-06-01 02:00:00', '2018-06-01 03:00:00',
               '2018-06-01 04:00:00', '2018-06-01 05:00:00',
               '2018-06-01 06:00:00', '2018-06-01 07:00:00',
               '2018-06-01 08:00:00', '2018-06-01 09:00:00',
               ...
               '2018-06-14 15:00:00', '2018-06-14 16:00:00',
               '2018-06-14 17:00:00', '2018-06-14 18:00:00',
               '2018-06-14 19:00:00', '2018-06-14 20:00:00',
               '2018-06-14 21:00:00', '2018-06-14 22:00:00',
               '2018-06-14 23:00:00', '2018-06-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [93]:
pd.date_range(start = "2018-06-01", end = "2018-06-15", freq = "6H")
# 6 hours

DatetimeIndex(['2018-06-01 00:00:00', '2018-06-01 06:00:00',
               '2018-06-01 12:00:00', '2018-06-01 18:00:00',
               '2018-06-02 00:00:00', '2018-06-02 06:00:00',
               '2018-06-02 12:00:00', '2018-06-02 18:00:00',
               '2018-06-03 00:00:00', '2018-06-03 06:00:00',
               '2018-06-03 12:00:00', '2018-06-03 18:00:00',
               '2018-06-04 00:00:00', '2018-06-04 06:00:00',
               '2018-06-04 12:00:00', '2018-06-04 18:00:00',
               '2018-06-05 00:00:00', '2018-06-05 06:00:00',
               '2018-06-05 12:00:00', '2018-06-05 18:00:00',
               '2018-06-06 00:00:00', '2018-06-06 06:00:00',
               '2018-06-06 12:00:00', '2018-06-06 18:00:00',
               '2018-06-07 00:00:00', '2018-06-07 06:00:00',
               '2018-06-07 12:00:00', '2018-06-07 18:00:00',
               '2018-06-08 00:00:00', '2018-06-08 06:00:00',
               '2018-06-08 12:00:00', '2018-06-08 18:00:00',
               '2018-06-09 00:00:00', '2018-06-09 06:00:00',
               '2018-06-09 12:00:00', '2018-06-09 18:00:00',
               '2018-06-10 00:00:00', '2018-06-10 06:00:00',
               '2018-06-10 12:00:00', '2018-06-10 18:00:00',
               '2018-06-11 00:00:00', '2018-06-11 06:00:00',
               '2018-06-11 12:00:00', '2018-06-11 18:00:00',
               '2018-06-12 00:00:00', '2018-06-12 06:00:00',
               '2018-06-12 12:00:00', '2018-06-12 18:00:00',
               '2018-06-13 00:00:00', '2018-06-13 06:00:00',
               '2018-06-13 12:00:00', '2018-06-13 18:00:00',
               '2018-06-14 00:00:00', '2018-06-14 06:00:00',
               '2018-06-14 12:00:00', '2018-06-14 18:00:00',
               '2018-06-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [95]:
pd.date_range(start = "2018-06-01", end = "2018-07-15", freq = "M")
#month -- last day of the month in b/w

DatetimeIndex(['2018-06-30'], dtype='datetime64[ns]', freq='M')

In [98]:
pd.date_range(start = "2018-01-01", end = "2018-12-31", freq = "M")
#last day of each month

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [99]:
pd.date_range(start = "2018-01-01", end = "2018-12-31", freq = "MS")
# month start

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [101]:
pd.date_range(start = "2018-01-01", end = "2025-12-31", freq = "A")
#last day of each year

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with the pd.date_range() method , Part 2

In [103]:
pd.date_range(start = "2018-01-01",periods=10 , freq = "D")
# returns next 10 days

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [104]:
pd.date_range(start = "2018-01-01",periods=10 , freq = "B")
# returns next 10 business days
# Here 6 and 7 are weekends

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12'],
              dtype='datetime64[ns]', freq='B')

In [107]:
pd.date_range(start = "2018-06-24",periods=10 , freq = "W")
# next 10 sundays

DatetimeIndex(['2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
pd.date_range(start = "2018-01-01",periods=10 , freq = "D")

### Create Range of Dates with the pd.date_range() method , Part 3

In [110]:
pd.date_range(periods=5,end = "2018-12-31", freq = "D")
# previous 5 days

DatetimeIndex(['2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='D')

### The .dt Accessor

In [113]:
dates = pd.date_range(start = "2016-01-01", end = "2018-01-01" , freq = "24D")
dates

DatetimeIndex(['2016-01-01', '2016-01-25', '2016-02-18', '2016-03-13',
               '2016-04-06', '2016-04-30', '2016-05-24', '2016-06-17',
               '2016-07-11', '2016-08-04', '2016-08-28', '2016-09-21',
               '2016-10-15', '2016-11-08', '2016-12-02', '2016-12-26',
               '2017-01-19', '2017-02-12', '2017-03-08', '2017-04-01',
               '2017-04-25', '2017-05-19', '2017-06-12', '2017-07-06',
               '2017-07-30', '2017-08-23', '2017-09-16', '2017-10-10',
               '2017-11-03', '2017-11-27', '2017-12-21'],
              dtype='datetime64[ns]', freq='24D')

In [114]:
s = pd.Series(dates)
s.head(3)

0   2016-01-01
1   2016-01-25
2   2016-02-18
dtype: datetime64[ns]

In [116]:
s.dt.date.head(3)

0    2016-01-01
1    2016-01-25
2    2016-02-18
dtype: object

In [117]:
s.dt.day.head(3)

0     1
1    25
2    18
dtype: int64

In [121]:
s.dt.is_leap_year.head(2)

0    True
1    True
dtype: bool

In [122]:
s.dt.is_leap_year.tail(2)

29    False
30    False
dtype: bool

In [125]:
s.dt.days_in_month.head(3)

0    31
1    31
2    29
dtype: int64

In [128]:
s.dt.weekday_name.head(3)

0      Friday
1      Monday
2    Thursday
dtype: object

In [132]:
mask = s.dt.is_month_start
s[mask]
# returns only dates which starting of the months

0    2016-01-01
19   2017-04-01
dtype: datetime64[ns]

In [134]:
s.dt.year.head()

0    2016
1    2016
2    2016
3    2016
4    2016
dtype: int64

In [137]:
mask = s.dt.is_quarter_start
s[mask]
# returns days which are the quarter start

0    2016-01-01
19   2017-04-01
dtype: datetime64[ns]