### Importing Finncial Data Set with pandas_datareader Library

In [4]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like

In [5]:
from pandas_datareader import data

In [6]:
import datetime as dt

In [ ]:
# this is WORKING
data.DataReader("MSFT" , "quandl", start = "1900-01-01" ,end = "2018-06-27")

In [29]:
stocks = pd.read_csv("stocks.csv")
stocks.head(3)

         Date       Open   High        Low      Close  Adj Close  Volume
0  2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
1  2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2  2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [32]:
stocks.set_index("Date",inplace=True)
stocks.head(3)

                 Open   High        Low      Close  Adj Close  Volume
Date
2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [33]:
stocks.loc["2018-06-20"]

Open            24.77
High            24.91
Low             24.58
Close           24.74
Adj Close       24.74
Volume       72900.00
Name: 2018-06-20, dtype: float64

In [36]:
stocks.iloc[0]
stocks.iloc[2]

Open            25.290001
High            25.320000
Low             25.049999
Close           25.150000
Adj Close       25.150000
Volume       82400.000000
Name: 2018-05-31, dtype: float64

In [37]:
stocks.ix[0]

/root/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Open            24.990000
High            25.400000
Low             24.889999
Close           25.040001
Adj Close       25.040001
Volume       80900.000000
Name: 2018-05-29, dtype: float64

In [39]:
stocks.ix["2018-06-20"]

/root/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Open            24.77
High            24.91
Low             24.58
Close           24.74
Adj Close       24.74
Volume       72900.00
Name: 2018-06-20, dtype: float64

In [41]:
stocks.loc["2018-06-20":"2018-06-25"]

                 Open       High        Low      Close  Adj Close  Volume
Date
2018-06-20  24.770000  24.910000  24.580000  24.740000  24.740000   72900
2018-06-21  24.750000  24.840000  24.549999  24.790001  24.790001   85400
2018-06-22  24.850000  24.959999  24.469999  24.730000  24.730000  191100
2018-06-25  24.559999  24.740000  24.410000  24.660000  24.660000   75300

In [42]:
stocks.ix["2018-06-20":"2018-06-25"]

/root/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                 Open       High        Low      Close  Adj Close  Volume
Date
2018-06-20  24.770000  24.910000  24.580000  24.740000  24.740000   72900
2018-06-21  24.750000  24.840000  24.549999  24.790001  24.790001   85400
2018-06-22  24.850000  24.959999  24.469999  24.730000  24.730000  191100
2018-06-25  24.559999  24.740000  24.410000  24.660000  24.660000   75300

In [47]:
birthdays = pd.date_range(start = "1998-05-26" , end = "2018-05-26" , freq = "A")

In [50]:
mask = stocks.index.isin(birthdays)
mask

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [52]:
stocks[mask]
# no data found on that day

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Timestamp object attribute

In [57]:
stocks = pd.read_csv("stocks.csv" )
stocks.head(3)

         Date       Open   High        Low      Close  Adj Close  Volume
0  2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
1  2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2  2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [25]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
Date         21 non-null object
Open         21 non-null float64
High         21 non-null float64
Low          21 non-null float64
Close        21 non-null float64
Adj Close    21 non-null float64
Volume       21 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ KB

In [27]:
someday = stocks.Date[0]
someday

'2018-05-29'

In [28]:
someday.index

In [29]:
someday = pd.Timestamp("2018-5-29")

In [30]:
someday

Timestamp('2018-05-29 00:00:00')

In [31]:
someday.month

5

In [32]:
someday.year

2018

In [33]:
someday.day

29

In [34]:
someday.weekday_name

/root/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

'Tuesday'

In [35]:
someday.is_month_start

False

In [83]:
stocks = pd.read_csv("stocks.csv")
stocks.head(3)

         Date       Open   High        Low      Close  Adj Close  Volume
0  2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
1  2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2  2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [84]:
s = pd.Series(stocks["Date"])
s.head()

0    2018-05-29
1    2018-05-30
2    2018-05-31
3    2018-06-01
4    2018-06-04
Name: Date, dtype: object

In [86]:
s = pd.to_datetime(s)
s.head()

0   2018-05-29
1   2018-05-30
2   2018-05-31
3   2018-06-01
4   2018-06-04
Name: Date, dtype: datetime64[ns]

In [87]:
stocks["Date"] = s

In [91]:
stocks.set_index("Date").head(3)

                 Open   High        Low      Close  Adj Close  Volume
Date
2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [92]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
Date         21 non-null datetime64[ns]
Open         21 non-null float64
High         21 non-null float64
Low          21 non-null float64
Close        21 non-null float64
Adj Close    21 non-null float64
Volume       21 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 1.2 KB

In [123]:
# these operations can be only applied on datetime datatype or Timestamp but not on object type
weekdays = stocks["Date"].dt.weekday_name
stocks["Weekdays"] = weekdays

In [116]:
mask = stocks["Weekdays"] == "Monday"
stocks[mask]

,Date,Open,High,Low,Close,Adj Close,Volume,Weekdays
4,2018-06-04,24.629999,24.770000,24.420000,24.629999,24.629999,101200,Monday
9,2018-06-11,25.190001,25.280001,25.030001,25.070000,25.070000,59600,Monday
14,2018-06-18,24.639999,24.770000,24.549999,24.600000,24.600000,39200,Monday
19,2018-06-25,24.559999,24.740000,24.410000,24.660000,24.660000,75300,Monday

In [119]:
month_start = stocks["Date"].dt.is_month_start

In [120]:
stocks["is_month_start"] = month_start

In [122]:
stocks[stocks["is_month_start"]]

,Date,Open,High,Low,Close,Adj Close,Volume,Weekdays,is_month_start
3,2018-06-01,25.200001,25.200001,24.58,24.6,24.6,89300,Friday,True

In [139]:
stocks = pd.read_csv("stocks.csv" )
stocks.head(3)

         Date       Open   High        Low      Close  Adj Close  Volume
0  2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
1  2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2  2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [140]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
Date         21 non-null object
Open         21 non-null float64
High         21 non-null float64
Low          21 non-null float64
Close        21 non-null float64
Adj Close    21 non-null float64
Volume       21 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ KB

In [141]:
s.dtype

dtype('<M8[ns]')

In [142]:
stocks["Date"] = pd.to_datetime(stocks["Date"])

In [143]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
Date         21 non-null datetime64[ns]
Open         21 non-null float64
High         21 non-null float64
Low          21 non-null float64
Close        21 non-null float64
Adj Close    21 non-null float64
Volume       21 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 1.2 KB

In [144]:
stocks.insert(loc = 0 , column = "DayName" , value = stocks.Date.dt.weekday_name)

In [145]:
stocks.head(3)

,DayName,Date,Open,High,Low,Close,Adj Close,Volume
0,Tuesday,2018-05-29,24.990000,25.40,24.889999,25.040001,25.040001,80900
1,Wednesday,2018-05-30,25.250000,25.58,25.090000,25.360001,25.360001,94300
2,Thursday,2018-05-31,25.290001,25.32,25.049999,25.150000,25.150000,82400

In [146]:
stocks.insert(loc = 1 , column = "Is_Quarter_Start" , value = stocks.Date.dt.is_quarter_start)

In [147]:
stocks.head(3)

,DayName,Is_Quarter_Start,Date,Open,High,Low,Close,Adj Close,Volume
0,Tuesday,False,2018-05-29,24.990000,25.40,24.889999,25.040001,25.040001,80900
1,Wednesday,False,2018-05-30,25.250000,25.58,25.090000,25.360001,25.360001,94300
2,Thursday,False,2018-05-31,25.290001,25.32,25.049999,25.150000,25.150000,82400

In [148]:
stocks[stocks["Is_Quarter_Start"]]

Empty DataFrame
Columns: [DayName, Is_Quarter_Start, Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

### The truncate() method

In [154]:
stocks = pd.read_csv("stocks.csv" , index_col = "Date")
stocks.head(3)

                 Open   High        Low      Close  Adj Close  Volume
Date
2018-05-29  24.990000  25.40  24.889999  25.040001  25.040001   80900
2018-05-30  25.250000  25.58  25.090000  25.360001  25.360001   94300
2018-05-31  25.290001  25.32  25.049999  25.150000  25.150000   82400

In [157]:
stocks.truncate(before = "2018-06-05" , after = "2018-06-11")

                 Open       High        Low      Close  Adj Close  Volume
Date
2018-06-05  24.570000  24.940001  24.469999  24.840000  24.840000   97300
2018-06-06  24.900000  25.350000  24.080000  25.240000  25.240000  267600
2018-06-07  25.320000  25.370001  24.959999  25.200001  25.200001   81700
2018-06-08  25.219999  25.360001  25.020000  25.150000  25.150000   64700
2018-06-11  25.190001  25.280001  25.030001  25.070000  25.070000   59600