# Working with REALTIME Financial Data

In [5]:
from pandas_datareader import data
import datetime as dt
import pandas as pd
from datetime import datetime

In [8]:
tech_list = ["AAPL","GOOG","MSFT","AMZN"]

In [9]:
end = datetime.now()
start = datetime(end.year-1,end.month,end.day)

In [10]:
for stock in tech_list:
    globals()[stock] = data.DataReader(stock,"yahoo",start,end)

In [13]:
AAPL.head(1)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-07-17,150.899994,148.570007,148.820007,149.559998,23793500.0,147.270706

In [14]:
AAPL.tail(1)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-07-18,191.800003,190.202499,191.779999,190.610001,2327425.0,190.610001

In [15]:
GOOG.head(1)

                 High         Low   Open       Close   Volume   Adj Close
Date
2017-07-17  960.73999  949.241028  957.0  953.419983  1165500  953.419983

In [16]:
MSFT.head(1)

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-07-17  73.449997  72.720001  72.800003  73.349998  21803900.0  71.945412

In [13]:
stocks = data.DataReader("MSFT" , "quandl", start = "2000-01-01" ,end = "2018-06-27",access_key = "ZyBDvgzoPnsjo8b-M4s5")
stocks.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-26,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-23,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [10]:
stocks.tail(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2014-03-31,566.89,567.00,556.93,556.97,10800.0,0.0,1.0,566.89,567.00,556.93,556.97,10800.0
2014-03-28,561.20,566.43,558.67,559.99,41100.0,0.0,1.0,561.20,566.43,558.67,559.99,41100.0
2014-03-27,568.00,568.00,552.92,558.46,13100.0,0.0,1.0,568.00,568.00,552.92,558.46,13100.0

In [19]:
stocks = data.DataReader("GOOG" , "morningstar", start = "2000-01-01" , end = dt.datetime.now())
stocks.tail(3)

                     Close       High        Low     Open   Volume
Symbol Date
GOOG   2018-06-22  1155.48  1162.4965  1147.2600  1159.14  1310967
       2018-06-25  1124.81  1143.9100  1112.7800  1143.60  2157310
       2018-06-26  1118.46  1133.2100  1116.6589  1128.00  1586841

In [21]:
stocks = data.DataReader("GOOG" , "morningstar", start = "2000-01-01" , end = "2018-06-27")
stocks.tail(3)

                     Close       High        Low     Open   Volume
Symbol Date
GOOG   2018-06-22  1155.48  1162.4965  1147.2600  1159.14  1310967
       2018-06-25  1124.81  1143.9100  1112.7800  1143.60  2157310
       2018-06-26  1118.46  1133.2100  1116.6589  1128.00  1586841

### pd.DataOffset Objects

In [26]:
stocks = data.DataReader("MSFT" , "quandl", start = "2000-01-01" ,end = "2018-06-27",access_key = "ZyBDvgzoPnsjo8b-M4s5")
stocks.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-26,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-23,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [27]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'ExDividend', 'SplitRatio',
       'AdjOpen', 'AdjHigh', 'AdjLow', 'AdjClose', 'AdjVolume'],
      dtype='object')

In [34]:
stocks.index + pd.DateOffset(days = 2)
# all date will be added 2 days , here temporary saved

DatetimeIndex(['2018-03-31', '2018-03-30', '2018-03-27', '2018-03-26',
               '2018-03-25', '2018-03-24', '2018-03-23', '2018-03-20',
               '2018-03-19', '2018-03-18',
               ...
               '2000-01-18', '2000-01-17', '2000-01-16', '2000-01-15',
               '2000-01-14', '2000-01-11', '2000-01-10', '2000-01-09',
               '2000-01-08', '2000-01-07'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [31]:
stocks.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-26,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-23,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [32]:
stocks.index = stocks.index + pd.DateOffset(days = 2)
# all date will be added 2 days , here parmanently saved

In [35]:
stocks.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-29,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-28,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-25,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [36]:
stocks.index + pd.DateOffset(months = 1) # temporary

DatetimeIndex(['2018-04-29', '2018-04-28', '2018-04-25', '2018-04-24',
               '2018-04-23', '2018-04-22', '2018-04-21', '2018-04-18',
               '2018-04-17', '2018-04-16',
               ...
               '2000-02-16', '2000-02-15', '2000-02-14', '2000-02-13',
               '2000-02-12', '2000-02-09', '2000-02-08', '2000-02-07',
               '2000-02-06', '2000-02-05'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [38]:
stocks.index + pd.DateOffset(years = 1)  # temporary

DatetimeIndex(['2019-03-29', '2019-03-28', '2019-03-25', '2019-03-24',
               '2019-03-23', '2019-03-22', '2019-03-21', '2019-03-18',
               '2019-03-17', '2019-03-16',
               ...
               '2001-01-16', '2001-01-15', '2001-01-14', '2001-01-13',
               '2001-01-12', '2001-01-09', '2001-01-08', '2001-01-07',
               '2001-01-06', '2001-01-05'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [40]:
stocks.index + pd.DateOffset(hours = 2) # 2 hours added

DatetimeIndex(['2018-03-29 02:00:00', '2018-03-28 02:00:00',
               '2018-03-25 02:00:00', '2018-03-24 02:00:00',
               '2018-03-23 02:00:00', '2018-03-22 02:00:00',
               '2018-03-21 02:00:00', '2018-03-18 02:00:00',
               '2018-03-17 02:00:00', '2018-03-16 02:00:00',
               ...
               '2000-01-16 02:00:00', '2000-01-15 02:00:00',
               '2000-01-14 02:00:00', '2000-01-13 02:00:00',
               '2000-01-12 02:00:00', '2000-01-09 02:00:00',
               '2000-01-08 02:00:00', '2000-01-07 02:00:00',
               '2000-01-06 02:00:00', '2000-01-05 02:00:00'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [41]:
stocks.index  + pd.DateOffset(hours = 2 , minutes = 10 , seconds = 20)

DatetimeIndex(['2018-03-29 02:10:20', '2018-03-28 02:10:20',
               '2018-03-25 02:10:20', '2018-03-24 02:10:20',
               '2018-03-23 02:10:20', '2018-03-22 02:10:20',
               '2018-03-21 02:10:20', '2018-03-18 02:10:20',
               '2018-03-17 02:10:20', '2018-03-16 02:10:20',
               ...
               '2000-01-16 02:10:20', '2000-01-15 02:10:20',
               '2000-01-14 02:10:20', '2000-01-13 02:10:20',
               '2000-01-12 02:10:20', '2000-01-09 02:10:20',
               '2000-01-08 02:10:20', '2000-01-07 02:10:20',
               '2000-01-06 02:10:20', '2000-01-05 02:10:20'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [42]:
stocks.index - pd.DateOffset(days = 3)

DatetimeIndex(['2018-03-26', '2018-03-25', '2018-03-22', '2018-03-21',
               '2018-03-20', '2018-03-19', '2018-03-18', '2018-03-15',
               '2018-03-14', '2018-03-13',
               ...
               '2000-01-13', '2000-01-12', '2000-01-11', '2000-01-10',
               '2000-01-09', '2000-01-06', '2000-01-05', '2000-01-04',
               '2000-01-03', '2000-01-02'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [43]:
stocks.index - pd.DateOffset(hours = 4)

DatetimeIndex(['2018-03-28 20:00:00', '2018-03-27 20:00:00',
               '2018-03-24 20:00:00', '2018-03-23 20:00:00',
               '2018-03-22 20:00:00', '2018-03-21 20:00:00',
               '2018-03-20 20:00:00', '2018-03-17 20:00:00',
               '2018-03-16 20:00:00', '2018-03-15 20:00:00',
               ...
               '2000-01-15 20:00:00', '2000-01-14 20:00:00',
               '2000-01-13 20:00:00', '2000-01-12 20:00:00',
               '2000-01-11 20:00:00', '2000-01-08 20:00:00',
               '2000-01-07 20:00:00', '2000-01-06 20:00:00',
               '2000-01-05 20:00:00', '2000-01-04 20:00:00'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

### More with pd.DataOffset objects

In [45]:
stocks

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-29,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-28,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-25,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [46]:
stocks = data.DataReader("MSFT" , "quandl", start = "2000-01-01" ,end = "2018-06-27",access_key = "ZyBDvgzoPnsjo8b-M4s5")
stocks.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,94.94,95.139,88.51,89.47,53704562.0,0.0,1.0,94.94,95.139,88.51,89.47,53704562.0
2018-03-26,90.61,94.000,90.40,93.78,55031149.0,0.0,1.0,90.61,94.000,90.40,93.78,55031149.0
2018-03-23,89.50,90.460,87.08,87.18,42159397.0,0.0,1.0,89.50,90.460,87.08,87.18,42159397.0

In [49]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31',
               ...
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [53]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01',
               ...
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [54]:
stocks.index + pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31',
               ...
               '2000-03-31', '2000-03-31', '2000-03-31', '2000-03-31',
               '2000-03-31', '2000-03-31', '2000-03-31', '2000-03-31',
               '2000-03-31', '2000-03-31'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [56]:
stocks.index + pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['2018-06-01', '2018-06-01', '2018-06-01', '2018-06-01',
               '2018-06-01', '2018-06-01', '2018-06-01', '2018-06-01',
               '2018-06-01', '2018-06-01',
               ...
               '2000-03-01', '2000-03-01', '2000-03-01', '2000-03-01',
               '2000-03-01', '2000-03-01', '2000-03-01', '2000-03-01',
               '2000-03-01', '2000-03-01'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [57]:
from pandas.tseries.offsets import *

In [58]:
stocks.index + MonthEnd()

DatetimeIndex(['2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31',
               ...
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [59]:
stocks.index + MonthBegin()

DatetimeIndex(['2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01',
               ...
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [60]:
stocks.index - MonthEnd()

DatetimeIndex(['2018-02-28', '2018-02-28', '2018-02-28', '2018-02-28',
               '2018-02-28', '2018-02-28', '2018-02-28', '2018-02-28',
               '2018-02-28', '2018-02-28',
               ...
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

In [61]:
stocks.index - MonthBegin()

DatetimeIndex(['2018-03-01', '2018-03-01', '2018-03-01', '2018-03-01',
               '2018-03-01', '2018-03-01', '2018-03-01', '2018-03-01',
               '2018-03-01', '2018-03-01',
               ...
               '2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01',
               '2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01',
               '2000-01-01', '2000-01-01'],
              dtype='datetime64[ns]', name='Date', length=4586, freq=None)

### The TimeDelta object

In [65]:
timeA = pd.Timestamp("2018-06-27")

In [66]:
timeB = pd.Timestamp("2018-06-20")

In [67]:
timeA - timeB

Timedelta('7 days 00:00:00')

In [71]:
timeC = pd.Timestamp("2018-06-21 10:45:12")

In [72]:
timeA-timeC

Timedelta('5 days 13:14:48')

In [73]:
timeB - timeC

Timedelta('-2 days +13:14:48')

In [74]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [75]:
type(timeB - timeA)

pandas._libs.tslibs.timedeltas.Timedelta

In [77]:
timeD = pd.Timedelta(weeks = 2 , days = 4 , hours = 5 , minutes = 40 ,seconds = 12)

In [78]:
timeD

Timedelta('18 days 05:40:12')

In [79]:
timeA + timeD

Timestamp('2018-07-15 05:40:12')

In [89]:
timeE = pd.Timedelta("4 days 2 hours 12 minutes 34 seconds") # on adding weeks , it throws Error

In [90]:
timeE

Timedelta('4 days 02:12:34')

In [92]:
timeD

Timedelta('18 days 05:40:12')

In [93]:
timeE + timeD

Timedelta('22 days 07:52:46')

In [98]:
# Timedelta + Timedelta = Timedelta
# Timestamp + Timedelta = Timestamp
# Timedelta + Timestamp = Timestamp
# timestamp + timestamp = Eror (unsupported operand type)

### Timedeltas in Dataset

In [103]:
shipping = pd.read_csv("input/ecommerce.csv" , index_col = "ID" , parse_dates = ["order_date","delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [107]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [109]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [112]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [116]:
mask = shipping["Delivery Time"] > "3500 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
314 1990-03-07    1999-12-25     3580 days    2009-10-13
884 1990-01-20    1999-11-12     3583 days    2009-09-03
904 1990-02-13    1999-11-15     3562 days    2009-08-16